extends layout/main
block content
  .container.mt-3
    .card
      .card-body
        ul.list-group
          li.list-group-item.list-group-item-info
            h1.text-center หัวข้อปริญญานิพนธ์ : #{book.bookname}
          li.list-group-item.d-flex
            div(style="width:120px") ชื่อนักศึกษา
            div : #{book.firstname + ' ' + book.lastname}
          li.list-group-item.d-flex
            div(style="width:120px") อาจารย์ที่ปรึกษา
            div : #{book.teacher}
          li.list-group-item.d-flex
            div(style="width:120px") สาขา
            div : #{book.branch}
          li.list-group-item.d-flex
            div(style="width:120px") คณะ
            div : #{book.faculty}
          .text-center.mt-3
            iframe(style='width:550px;height:350px', src='https://online.anyflip.com/wwcwx/usii/index.html', seamless='seamless', scrolling='no', frameborder='0', allowtransparency='true', allowfullscreen='true')
          .d-flex.justify-content-center.mt-3
            a.btn.btn-info(href=`/book/${book.filename}`) ขอสิทธิ์อ้างอิงข้อมูล
            div(style="width:20px")
            a.btn.btn-info(href=`/book/${book.filename}`) ดาวน์โหลด
        if user
          if user.admin
            if !book.approve
              .d-flex.justify-content-center.mt-3
                a.btn.btn-success.text-center(href=`/book/approve/${book._id}`) อนุมัติปริญญานิพนธ์

