extends layout/main
block content
  style.
    td {
      white-space:nowrap;
    }
  .row
    .col-md-3
      include ./components/sidebar
      .sidebar
        a(href='/managerefer') ข้อมูลปริญญานิพนธ์
        a(href='/managecategory') ข้อมูลหมวดหมู่
        a(href='/manageteacher') ข้อมูลอาจารย์
        a.active(href='/manageuser') ข้อมูลสมาชิก
    .col-md-7
      .container.mt-3
        include ./components/alert
        .card
          .card-body
            h1.text-center ข้อมูลสมาชิกทั้งหมด
            -let i = 0
            .div(style="overflow-x:auto;")
              table.table.mt-3
                thead
                  tr
                    th(scope='col') ลำดับ
                    th(scope='col') ชื่อ - สกุล
                    th(scope='col') อีเมล
                    th(scope='col') คณะ
                    th(scope='col') สาขา
                    th(scope='col')
                    th(scope='col')
                tbody
                  each Users in User
                    tr
                      th(scope='row')=i=i+1
                      td=Users.firstname + ' ' +Users.lastname
                      td=Users.email
                      td=Users.faculty
                      td=Users.branch
                      td.d-flex
                        button.btn.btn-danger.btn-sm(onclick=`deleteUser('${Users._id}')`) ลบ
  script.
    function deleteUser(id) {
    if (confirm('ต้องการลบใช่หรือไม่') == true) {
      location.replace(`/user/delete/${id}`)
    } else {
      console.log('cancel')
    }
    }
