extends layout/main
block content
  .row
    .col-md-3
      include ./components/sidebar
      .sidebar
        a.active(href='/managebook') ข้อมูลปริญญานิพนธ์
        a(href='/managefac') ข้อมูลคณะ
        a(href='/manageteacher') ข้อมูลอาจารย์
        a(href='/manageuser') ข้อมูลสมาชิก
        a(href='/managedowload') ข้อมูลการดาวน์โหลด
        a(href='/managerefer') ข้อมูลการขอสิทธิ์
    .col-md-7
      .container
        .card.mt-3
          .card-body
            include components/alert
            h1.text-center ข้อมูลปริญญานิพนธ์ทั้งหมด
            table.table
              thead
                tr
                  th(scope='col')
                  th(scope='col') ชื่อปริญญานิพนธ์
                  th(scope='col') ผู้จัดทำ
                  th(scope='col') สาขา
                  th(scope='col') คณะ
                  th(scope='col') สถานะ
              tbody
                -let i=0
                each books in book
                  tr
                    th(scope='row')=i=i+1
                      td
                        a(href=`/book/detail/${books._id}`) #{books.bookname}
                      td=books.firstname+' '+books.lastname
                      td=books.branch
                      td=books.faculty
                      td
                        if books.approve
                          .text-success อนุมัติแล้ว
                        else
                          .text-warning รออนุมัติ
