extends layout/main
block content
  .row
    .col-md-3
      include ./components/sidebar
      .sidebar
        a(href='/managerefer') ข้อมูลปริญญานิพนธ์
        a.active(href='/managecategory') ข้อมูลหมวดหมู่
        a(href='/manageteacher') ข้อมูลอาจารย์
        a(href='/manageuser') ข้อมูลสมาชิก
    .col-md-7
      .container.mt-3
      include components/alert
        ul.list-group
          li.list-group-item
            h1.text-center ข้อมูลหมวดหมู่ทั้งหมด
          li.list-group-item.list-group-item-info.d-flex.justify-content-between
            h4 หมวดหมู่
            form(action="/category/create", method="post")
              .input-group
                input.form-control(type="text" name="faculty_name" placeholder="เพิ่มคณะ" required)
                button.btn.btn-success(type="submit") +
          each facultys in faculty
            li.list-group-item.d-flex.justify-content-between.align-items-center
              span.me-auto=facultys.name
              form.d-none.me-auto(action=`/category/update/${facultys._id}` method="post")
                .input-group
                  input.form-control.form-control-sm(type="text" name="faculty_name" value=facultys.name)
                  button.btn.btn-success.btn-sm.me-3 บันทึก
              button.btn.btn-warning.btn-sm.me-1(type="button" onclick="editList(event)") แก้ไข
              div(style="width:5px")
              button.btn.btn-sm.btn-danger(onclick=`deleteFaculty('${facultys._id}')`) ลบ
  script.
      function editList (event) {
        const parent = event.target.parentNode
        const form = parent.querySelector('form')
        const span = parent.querySelector('span')
        form.classList.toggle('d-none')
        span.classList.toggle('d-none')
        event.target.innerText = event.target.innerText === 'แก้ไข' ? 'ยกเลิก' : 'แก้ไข'
      }
      function deleteFaculty(id) {
        if (confirm('ต้องการลบใช่หรือไม่') == true) {
          location.replace(`/category/delete/${id}`)
        } else {
          console.log('cancel')
        }
        }

