extends layout/main
block content
  .row
    .col-md-3
      include ./components/sidebar
      .sidebar
        a(href='/managerefer') ข้อมูลปริญญานิพนธ์
        a(href='/managecategory') ข้อมูลหมวดหมู่
        a.active(href='/manageteacher') ข้อมูลอาจารย์
        a(href='/manageuser') ข้อมูลสมาชิก
    .col-md-7
      .container
        .card.mt-3
          .card-body
            include components/alert
            h1.text-center ข้อมูลอาจารย์ทั้งหมด
            h4 เพิ่มข้อมูลอาจารย์
            form(action="/teacher/create", method="post")
              .d-flex
                input.form-control(type="text" name="firstname" placeholder="ชื่อ" required)
                div(style="width:5px")
                input.form-control(type="text" name="lastname" placeholder="นามสกุล" required)
                div(style="width:5px")
              input.form-control.mt-3(type="text" name="email" placeholder="อีเมล" required)
              -var password = Math.floor(Math.random() * 1000000)
              input(type="hidden", name="password" value=password)
              .d-flex.justify-content-center.mt-3
                button.btn.btn-success(type="submit") เพิ่ม
            -let=i=0
            table.table.mt-3
              thead
                tr
                  th(scope='col') ลำดับ
                  th(scope='col') ชื่อ
                  th(scope='col') อีเมล
                  th(scope='col') รหัสผ่าน
                  th(scope='col')
              tbody
                each teachers in teacher
                    tr
                      th(scope='row')=i=i+1
                      td=teachers.firstname + ' ' + teachers.lastname
                      td=teachers.email
                      td
                        if teachers.oldpassword
                          a.text-danger(href="#" onclick=`showpassword(event,${teachers.oldpassword})`) ยังไม่ได้เปลี่ยนรหัสผ่าน(คลิ๊กเพื่อดู)
                        else
                          div เปลี่ยนรหัสแล้ว
                      td.d-flex
                        button.btn.btn-sm.btn-danger(onclick=`deleteTeachers('${teachers.id}')`) ลบ

    script.
      function showpassword (event,password) {
        const parent = event.target.parentNode
        event.target.innerText = event.target.innerText === 'ยังไม่ได้เปลี่ยนรหัสผ่าน(คลิ๊กเพื่อดู)' ? password : 'ยังไม่ได้เปลี่ยนรหัสผ่าน(คลิ๊กเพื่อดู)'
      }
      function deleteTeachers(id) {
        if (confirm('ต้องการลบใช่หรือไม่') == true) {
          location.replace(`/teachers/delete/${id}`)
        } else {
          console.log('cancel')
        }
      }
