extends layout/main
block content
  .container.mt-3
    .card
      .card-body
        h1.text-center ข้อมูลผู้ใช้
        .text-center.mt-3
          img(src=user.avatarUrl, alt="")
        h4 อีเมล : #{user.email}
        h4 ชื่อ : #{user.firstname}
        h4 นามสกุล : #{user.lastname}
        h4 เบอร์มือถือ : 0#{user.phonenumber}
        h4 คณะ : #{user.faculty}
        h4 สาขา : #{user.branch}
        ul
            li=user.password ? 'บัญชีนี้มีรหัสผ่านแล้ว' : 'บัญชีนี้ยังไม่มีรหัสผ่าน'
            li=user.oauth.google ? 'บัญชีผูกกับ Google แล้ว' : 'บัญชีนี้ยังไม่ผูกกับ Google '
        if !user.password
            .card.mt-3
                .card-body.bg-light
                form(action="/update-password", method="post")
                    h2 เพิ่มรหัสผ่าน
                    input.form-control(type="password" name="password" placeholder="รหัสผ่าน")
                    button.btn.btn-primary.mt-2 บันทึกรหัสผ่าน
        if !user.oauth.google
          a.btn.btn-light(href="/login/google") ผูกบัญชี Google #[img(src="https://www.pngplay.com/wp-content/uploads/12/Google-PNG-Photos.png" style="width:50px")]
