extends layout/main
block content
  .container.mt-3
    .card
      .card-body
        h1.text-center ข้อมูลผู้ใช้
        .d-flex
          h4(style="width:90px;") อีเมล
          h4 : #{user.email}
        .d-flex
          h4(style="width:90px;") ชื่อ
          h4 : #{user.firstname}
        .d-flex
          h4(style="width:90px;") นามสกุล
          h4 : #{user.lastname}
        .d-flex
          h4(style="width:90px;") มือถือ
          h4 : 0#{user.phonenumber}
        .d-flex
          h4(style="width:90px;") มหาลัย
          h4 : #{user.university}
        .d-flex
          h4(style="width:90px;") คณะ
          h4 : #{user.faculty}
        .d-flex
          h4(style="width:90px;") สาขา
          h4 : #{user.branch}
        //- ul
        //-     li=user.password ? 'บัญชีนี้มีรหัสผ่านแล้ว' : 'บัญชีนี้ยังไม่มีรหัสผ่าน'
        //-     li=user.oauth.google ? 'บัญชีผูกกับ Google แล้ว' : 'บัญชีนี้ยังไม่ผูกกับ Google '
        //- if !user.password
        //-     .card.mt-3
        //-         .card-body.bg-light
        //-         form(action="/update-password", method="post")
        //-             h2 เพิ่มรหัสผ่าน
        //-             input.form-control(type="password" name="password" placeholder="รหัสผ่าน")
        //-             button.btn.btn-primary.mt-2 บันทึกรหัสผ่าน
